/* @import "tailwindcss"; */
body{
    margin: 0;
}

.signup{
  padding: 20px;
}
input {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
  display: block;
  margin-bottom: 10px;
}
button {
  padding: 10px 15px;
  background: lightgray;
  border: none;
  border-radius: 5px;
}

.navbar {
  background-color: red;
  width: 100%;
  background: white;
  padding: 20px;
  margin: 0 auto;
}
.navbar a {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}
.logo {
  font-weight: bold;
}