.login-wrapper {
  max-width: 90vw;
  width: 300px;
  margin: 0 auto;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #333;
}

.login-form {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.login-input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 1rem;
  background-color: #e0e0e0;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.login-checkbox {
  display: flex;
  width: 10rem;
  align-items: center;
  font-size: 0.9rem;
  color: #444;
  margin-bottom: 1.5rem;
  gap: 0.2rem;
}


.login-checkbox input {
  margin-right: 0.5rem;
}

.login-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 0.75rem;
  background-color: #e9e7f8;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
  text-align: center;
  cursor: pointer;

  text-decoration: none; /* ✅ Link일 경우 밑줄 제거 */
  box-sizing: border-box; /* ✅ padding 포함 계산 */
}


.login-button:hover {
  background-color: #b0defa;
}

.link-button {
  text-decoration: none;
}
.back-link {
  align-self: flex-start;
  color: #4E3CDB;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-decoration: none;
}

.back-link:hover {
  text-decoration: underline;
}