.rating-page {
  padding: 20px;
  font-family: sans-serif;
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.star-row {
  margin: 10px 0;
}

.label-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0;
}

.label-row label {
  font-size: 16px;
  font-weight: 500;
  flex: 1;
  text-align: left;
}

.label-row .star-row {
  flex: 2;
  text-align: right;
}

.submit-btn,
.back-btn {
  width: 100%;
  margin-top: 10px;
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color: #eee;
  cursor: pointer;
}

.submit-btn {
  background-color: #6AA0BD;
  color: white;
}
