.map-wrapper {
  padding: 10vh 5vw 12vh;
  /* 위: 검색창 자리 / 아래: 탭바 여백 */
  display: flex;
  justify-content: center;
}

.map-container {
  width: 100%;
  max-width: 90vw;
  height: 75vh;
  border-radius: 1.5rem;
  overflow: hidden;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}


.toilet-overlay-box {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 0;
  width: 260px;
  font-family: sans-serif;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}


.toilet-overlay-box .header {
  background-color: #E5E5E5;
  /* 상단 회색 */
  padding: 10px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6AA0BD;
  font-weight: bold;
  font-size: 15px;
}

.toilet-overlay-box .title {
  flex: 1;
}

.toilet-overlay-box .close-btn {
  cursor: pointer;
  font-size: 16px;
}

.toilet-overlay-box .rating {
  padding: 8px 12px 0;
  font-size: 16px;
}

.toilet-overlay-box .rating .filled {
  color: #6AA0BD;
  /* 어두운 별 */
}

.toilet-overlay-box .rating .empty {
  color: #C7EBFF;
  /* 밝은 별 */
}

.toilet-overlay-box .tags {
  padding: 8px 12px 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.toilet-overlay-box .tags span {
  font-size: 13px;
  color: #6AA0BD;
}

.detail-link {
  margin: 8px;
  text-decoration: none;
  font-size: 13px;
  color: #6AA0BD;
}

.search-bar {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.search-bar input {
  padding: 0.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.search-bar button {
  padding: 0.4rem 0.8rem;
  border: none;
  background-color: #6AA0BD;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.keywords {
  margin: 4px 0 6px;
  font-size: 13px;
  color: #1d4e89;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.tag {
  background-color: #e8f0fe;
  padding: 2px 6px;
  border-radius: 10px;
  font-size: 12px;
}
